/* DEEP BISWAS */
/* Portfolio Website */
@media screen and (max-width: 640px){

}
@media screen and (max-width: 768px){
    
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 1280px){
    
}
@media screen and (max-width: 1536px){
    
}
/* Custom Fonts */
@font-face {
    font-family: 'Rolf';
    src: url(../fonts/Rolf-Medium.otf);
}
@font-face {
    font-family: 'Arida';
    src: url(../fonts/Arida-Regular.ttf);
}
@font-face {
    font-family: 'Nata';
    src: url(../fonts/Nata-Light.otf);
}
@font-face {
    font-family: 'Robusto';
    src: url(../fonts/Robusto-Black.ttf);
}
@font-face {
    font-family: 'SF-Pro';
    src: url(../fonts/SF-Pro.otf);
}
/* Styles for the html pages */
.html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: black;
}
button{
    cursor: pointer;
}
.icon8{
    display: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #222222;
}
::-webkit-scrollbar-thumb{
    background-color: #fcee0a;
    box-sizing: border-box;
    border: 1px solid #0e0e0e;
}
@media screen and (max-width: 860px){
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 5px;
    }
}
/* Styles for the header */
header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 40px;
}
.header-container.tpu{
    background-color: rgba(0, 0, 0, 0.7);

}
.header-logo, .header-nav{
    display: flex;
    align-items: center;
}
.header-linked{
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.header-logo img{
    margin-top: 2px;
    height: 30px;
    width: auto;
}
.header-nav ul{
    display: flex;
    list-style-type: none;
}
.header-nav ul li{
    margin-right: 20px;
}
.header-nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'SF-Pro', sans-serif;
    transition: 0.4s;
}
.header-nav ul li a:hover{
    color: #fcee0a;
    text-decoration: underline;
}
.header-linked a, .header-git a{
    color: white;
    margin-left: 30px;
    transition: 0.4s;
}
.header-linked a:hover, .header-git a:hover{
    color: #fcee0a;
}
.menu-cross{
    cursor: pointer;
}
.menu-cross i:hover{
    color: #fcee0a;
}
.menu-button{
    cursor: pointer;
    display: none;
    color: white;
    margin: 20px 0 20px 30px; 
}
.menu-button:hover{
    color: #fcee0a;
}
#hamcross{
    display: none;
    color: white;
    margin: 20px 0 20px 32px;
}
.side-menu{
    height: 100vh;
    width: 90vw;
    position: fixed;
    transition: 0.5s;
    transform: translateX(-110%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
}
.side-menu nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.side-menu nav ul li{
    margin: 30px 0 30px 0;
}
.side-menu nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'SF-Pro', sans-serif;
    transition: 0.4s;
}
.side-menu nav ul li a:hover{
    color: #fcee0a;
    text-decoration: underline;
}
.side-menu.visible{
    transform: translateX(0);
    left: 0;
}
.fade{
    animation: fade 1s;
}
@keyframes fade{
    from {opacity: 0;}
    to {opacity: 1;}
}
@media screen and (max-width: 650px){
    .header-container{
        padding: 10px 20px;
    }
}
@media screen and (max-width: 860px){
    .header-nav{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
/* Main Styling */
.first-banner{
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
    margin-bottom: -5px;
}
.first-banner img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.av-time{
    display: flex;
    position: absolute;
    top: 10%;
    right: 25%;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.av-time p:nth-child(1){
    color: #fcee0a;
    font-size: 1vw;
}
.av-time p:nth-child(1) span{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 9vw;
    color: #f5f5f5;
}
.av-time p:nth-child(2){
    color: #f5f5f5;
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.3vw;
    padding-top: 2.75vw;
    width: 40px;
    padding-left: 10px;
}
.av-time p:nth-child(2) span{
    font-family: 'DM Serif Display', sans-serif;
    letter-spacing: 5px;
    color: #fcee0a;
}
.fb-text{
    padding: 0 2.5vw 0 2.5vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20%;
}
.fb-text h2{
    width: 40%;
    font-size: 2vw;
    color: #f5f5f5;
    font-family: 'DM Serif Display', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.fb-text h2 span{
    font-family: 'Rolf', sans-serif;
    font-size: 8vw;
    line-height: 9vw;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.fb-text p{
    padding-top: 11.25%;
    width: 50%;
    min-height: 1em;
    text-indent: 7vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.75vw;
    color: #f5f5f5;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.hidden{
    visibility: hidden;
}
.highlight{
    color: #fcee0a;
    animation: color-fade-in 1s ease-in-out forwards;
}
@keyframes color-fade-in{
    0% { color: #f5f5f5; }
    100% { color: #fcee0a; }
}
.cursor{
    display: inline-block;
    width: 1.3px;
    height: 0.8em;
    background-color: #fcee0a;
    animation: blink 1s step-end infinite;
}
.alt-fb-text{
    background: linear-gradient(#ad780d, #030303);
    padding: 2.5vw 2.5vw 2.5vw 4.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.75vw;
    color: #f5f5f5;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    display: none;
} 
@keyframes blink {
    0%, 100% { background-color: transparent }
    50% { background-color: #f5f5f5; }
}
@media screen and (min-width: 0px) and (max-width: 640px){
    .av-time{
        top: 15%;
    }
    .av-time p:nth-child(1){
        font-size: 2.2vw;
    }
    .av-time p:nth-child(1) span{
        font-size: 14vw;
    }
    .av-time p:nth-child(2){
        font-size: 2.6vw;
        padding-top: 3.6vw;
    }
    .fb-text h2{
        position: absolute;
        right: -18vw;
        font-size: 4.3vw;
        transform: translateY(17vw);
    }
    .fb-text h2 span{
        font-size: 12vw;
        line-height: 13vw;
    }
    .fb-text h2 span{
        font-size: 14vw;
        line-height: 15vw;
    }
    .fb-text p{
        display: none;
    }
    .alt-fb-text{
        padding: 4vw;
        display: block;
        font-size: 4vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .av-time{
        right: 35vw;
        top: 17%;
    }
    .av-time p:nth-child(1){
        font-size: 2.2vw;
    }
    .av-time p:nth-child(1) span{
        font-size: 14vw;
    }
    .av-time p:nth-child(2){
        font-size: 2.3vw;
        padding-top: 3.6vw;
    }
    .fb-text h2{
        position: absolute;
        right: -28vw;
        font-size: 4.3vw;
        transform: translateY(17vw);
    }
    .fb-text h2 span{
        font-size: 12vw;
        line-height: 13vw;
    }
    .fb-text h2 span{
        font-size: 10vw;
        line-height: 11vw;
    }
    .fb-text p{
        display: none;
    }
    .alt-fb-text{
        padding: 4vw;
        display: block;
        font-size: 4vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .av-time{
        right: 35vw;
        top: 15%;
    }
    .av-time p:nth-child(1){
        font-size: 2vw;
    }
    .av-time p:nth-child(1) span{
        font-size: 12vw;
    }
    .av-time p:nth-child(2){
        font-size: 2vw;
        padding-top: 3.4vw;
    }
    .fb-text h2{
        position: absolute;
        right: -29vw;
        font-size: 4.3vw;
        transform: translateY(17vw);
    }
    .fb-text h2 span{
        font-size: 10vw;
        line-height: 11vw;
    }
    .fb-text p{
        display: none;
    }
    .alt-fb-text{
        padding: 4vw;
        display: block;
        font-size: 4vw;
    }
}
/* Tech Stack Styling */
.tech-stack{
    margin-top: -20px;
    margin-bottom: -1vw;
    background: linear-gradient(#0e0e0e, #0e0e0e, #0e0e0e, #0e0e0e, #0d0d0d);
    padding: 5vw 0 5vw 5vw;
    user-select: none;
}
.tech-s-container{
    text-align: center;
    padding: 0 2vw 3vw 2vw;
}
.tech-s-container h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 2vw;
    letter-spacing: 3px;
}
.tech-s-container p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 2vw;
    padding-bottom: 2vw;
}
.tech-stack-logos{
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
    justify-content: center;
    flex-direction: row;
}
.ts-logo a{
    text-decoration: none;
    transition: fill 0.8s ease-in-out;
}
.ts-logo a p{
    font-size: 0.8vw;
    font-family: 'SF-Pro', sans-serif;
}
.ts-logo a:hover svg{
    filter: drop-shadow(0 0 10px #ffffff);
}
@media screen and (max-width: 640px){
    .tech-stack h2{
        font-size: 10vw;
    }
    .tech-stack p{
        font-size: 4vw;
    }
    .ts-logo a p{
        font-size: 4vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .tech-stack h2{
        font-size: 7vw;
    }
    .tech-stack p{
        font-size: 2vw;
    }
    .ts-logo a p{
        font-size: 3vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .tech-stack h2{
        font-size: 6vw;
    }
    .tech-stack p{
        font-size: 1.5vw;
    }
    .ts-logo a p{
        font-size: 2.5vw;
    }
}
/* About Me Styling */
.about-me{
    background: linear-gradient(#0d0d0d, #ad780d);
    padding: 5vw 0 5vw 0;
    user-select: none;
}
.am-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2vw 3vw 2vw;
}
.am-container h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 2vw;
    letter-spacing: 3px;
}
.am-container h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #fcee0a;
    text-align: center;
    padding-bottom: .1vw;
    text-transform: uppercase;
}
.am-container p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #f5f5f5;
    text-align: center;
    width: 50vw;
}
.am-container img{
    background: linear-gradient(57deg, #d000ff, #00d0ff, #ff0000, #fffa00, #00ff20);
    background-size: 1000% 1000%;
    animation: gradientani 5s ease infinite;
    border-radius: 500px;
    width: 20vw;
    height: 20vw;
    border: solid 0.5vw #fcee0a;
}
@keyframes gradientani{ 
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@media screen and (max-width: 640px){
    .am-container h2{
        font-size: 10vw;
    }
    .am-container h3{
        font-size: 4vw;
    }
    .am-container p{
        font-size: 4vw;
        width: 80vw;
    }
    .am-container img{
        width: 40vw;
        height: 40vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .am-container h2{
        font-size: 7vw;
    }
    .am-container h3{
        font-size: 4vw;
    }
    .am-container p{
        font-size: 3vw;
    }
    .am-container img{
        width: 30vw;
        height: 30vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .am-container h2{
        font-size: 6vw;
    }
    .am-container h3{
        font-size: 3.5vw;
    }
    .am-container p{
        font-size: 2.5vw;
    }
    .am-container img{
        width: 20vw;
        height: 20vw;
    }
}
/* My Projects Styling */
.my-projects{
    height: auto;
    width: 100%;
    background: linear-gradient(#ad780d, #5e4006, #0e0e0e);
    user-select: none;
}
.mp-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mp-container h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 2vw;
    letter-spacing: 3px;
}
.mp-container p{
    font-family: 'SF Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #f5f5f5;
    text-align: center;
}
.project{
    width: 70vw;
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    border-radius: 10px;
    margin-bottom: 3vw;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project-texts{
    width: 60%;
    margin-bottom: 1vw;
}
.project-texts h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    color: #0e0e0e;
    text-align: left;
    padding-bottom: .1vw;
    text-transform: uppercase;
}
.project-texts p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #0e0e0e;
    text-align: left;
    width: 90%;
}
.langs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
}
.langs span{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    color: #0e0e0e;
    text-align: left;
    background-color: #fcee0a;
    border-radius: 5px;
    padding: 0.3vw;
    border: 1px #0e0e0e dashed;
}
.project-texts div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1vw;
}
.codebutton, .demobutton{
    position: relative;
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #e6bc03, #dd0000);
    color: #f5f5f5;
    overflow: hidden;
}
.codebutton svg, .demobutton svg{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}
.codebutton span, .demobutton span{
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}
.codebutton::before, .codebutton::after, .demobutton::before, .demobutton::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
} 
.codebutton::before, .demobutton::before{
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.codebutton:hover, .demobutton:hover{
    color: #010101;
}
.codebutton:hover::before, .demobutton:hover::before{
    transform: translate3d(100%, 0, 0);
}
.codebutton:active, .demobutton:active{
    transform: scale(0.95);
}
.project-image img{
    height: 14vw;
    width: auto;
    border-radius: 8px;
}
@media screen and (max-width: 640px){
    .mp-container h2{
        font-size: 10vw;
    }
    .mp-container p{
        font-size: 4vw;
    }
    .project{
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-image img{
        height: 40vw;
        width: auto;
        border-radius: 8px;
        margin-bottom: 3vw;
    }
    .project-texts{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vw;
    }
    .project-texts h3{
        font-size: 6vw;
        text-align: center;
    }
    .project-texts p{
        text-align: center;
        font-size: 4vw;
    }
    .langs{
        justify-content: center;
        gap: 2vw;
        margin: auto;
    }
    .langs span{
        font-size: 3.5vw;
    }
    .codebutton, .demobutton{
        font-size: 3.75vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .mp-container h2{
        font-size: 7vw;
    }
    .mp-container p{
        font-size: 3vw;
    }
    .project{
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-image img{
        height: 34vw;
        width: auto;
        border-radius: 8px;
        margin-bottom: 3vw;
    }
    .project-texts{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vw;
    }
    .project-texts h3{
        font-size: 4vw;
        text-align: center;
    }
    .project-texts p{
        text-align: center;
        font-size: 2vw;
    }
    .langs{
        justify-content: center;
        gap: 2vw;
        margin: auto;
    }
    .langs span{
        font-size: 1.5vw;
    }
    .codebutton, .demobutton{
        font-size: 2vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .mp-container h2{
        font-size: 6vw;
    }
    .mp-container p{
        font-size: 2.5vw;
    }
    .project{
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-image img{
        height: 24vw;
        width: auto;
        border-radius: 8px;
        margin-bottom: 1.75vw;
    }
    .project-texts{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vw;
    }
    .project-texts h3{
        font-size: 3.5vw;
        text-align: center;
    }
    .project-texts p{
        font-size: 2.5vw;
        text-align: center;
    }
    .langs{
        justify-content: center;
        gap: 2vw;
        margin: auto;
    }
    .langs span{
        font-size: 2vw;
    }
    .codebutton, .demobutton{
        font-size: 1.5vw;
    }
}
/* Socails Styling */
.socials{
    background-color: #0e0e0e;
    padding: 5vw 0 5vw 0;
    user-select: none;
    width: 100%;
    height: auto;
    margin-top: -2vw;
}
.socials h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    letter-spacing: 3px;
}
.socials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-links{
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18vw;
    width: 70vw;
    border-radius: 10px;
}
.social div{
    border: solid 0.2vw #0e0e0e;
    border-radius: 7px;
    padding: 2vw;
    cursor: pointer;
    min-width: 5vw;
    transition: 0.6s;
}
.social div a{
    text-decoration: none;
    color: #0e0e0e;
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    transition: 0.6s;
}
.social svg{
    width: 4vw;
    height: 4vw;
    transition: 0.1s;
}
.social div:hover{
    background-image: linear-gradient( 109.6deg,  rgb(64, 32, 97) 11.2%, rgba(2,0,4,1) 91.1% );
}
.social div:hover svg{
    filter: drop-shadow(0 0 10px #fcee0a);
}
.social div:hover a{
    text-decoration: underline #fcee0a;
    color: #f5f5f5;
}
.social div:active{
    transform: scale(0.95);
}
@media screen and (max-width: 640px){
    .socials h2{
        font-size: 10vw;
    }
    .socials-container{
        padding: 2vw;
    }
    .social-links{
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }
    .social{
        width: 90vw;
    }
    .social div{
        padding: 4vw;
    }
    .social div a{
        font-size: 4vw;
    }
    .social svg{
        width: 10vw;
        height: 10vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .socials h2{
        font-size: 7vw;
    }
    .socials-container{
        padding: 0;
    }
    .social-links{
        width: 90vw;
        justify-content: center;
        align-items: center;
        gap: 10vw;
    }
    .social div{
        padding: 4vw;
    }
    .social div a{
        font-size: 3vw;
    }
    .social svg{
        width: 10vw;
        height: 10vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .socials h2{
        font-size: 6vw;
    }
    .socials-container{
        padding: 0;
    }
    .social-links{
        width: 90vw;
        justify-content: center;
        align-items: center;
        gap: 15vw;
    }
    .social div{
        padding: 4vw;
    }
    .social div a{
        font-size: 2.5vw;
    }
    .social svg{
        width: 10vw;
        height: 10vw;
    }
}
/* Extras Styling */
.extras{
    background-color: #0e0e0e;
    user-select: none;
    width: 100%;
    height: auto;
    margin-top: -3.5vw;
}
.extras h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    letter-spacing: 3px;
}
.ext-con{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 11vw 0 11vw;
    gap: 2vw;
    background-color: #0e0e0e;
}
.extra{
    height: 37vw;
    width: 19.2vw;
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    padding: 2vw 2vw 2vw 2vw;
    gap: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}
.extra:hover{
    transform: scale(1.05) rotate(0.5deg);
    filter: drop-shadow(0 0 20px #ffd700);
}
.extra h3{
    margin-top: -0.5vw;
    font-family: 'Robusto', sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    color: #0e0e0e;
    text-align: center;
    padding-bottom: .1vw;
    text-transform: uppercase;
}
.extra p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #0e0e0e;
    text-align: center;
    width: 90%;
}
.extra img{
    margin-top: -2vw;
    width: 15vw;
    height: 15vw;
    border-radius: 7px;
}
@media screen and (max-width: 640px){
    .extras{
        margin-top: -10vw;
    }
    .extras h2{
        font-size: 10vw;
    }
    .ext-con{
        padding: 0;
        flex-direction: column;
        gap: 7.5vw;
    }
    .extra{
        height: 148vw;
        width: 90vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3.5vw;
    }
    .extra h3{
        font-size: 10vw;
        text-align: center;
        line-height: 12vw;
        margin: -0.25vw;
    }
    .extra p{
        text-align: center;
        font-size: 4vw;
    }
    .extra img{
        width: 80vw;
        height: 80vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .extras{
        margin-top: -6vw;
    }
    .extras h2{
        font-size: 7vw;
    }
    .ext-con{
        padding: 0;
        gap: 2.5vw;
    }
    .extra{
        width: 28.5vw;
        height: 80vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2vw;
        padding: 0.5vw;
    }
    .extra h3{
        font-size: 6vw;
        text-align: center;
    }
    .extra p{
        text-align: center;
        font-size: 2vw;
    }
    .extra img{
        width: 26vw;
        height: 26vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .extras{
        margin-top: -6vw;
    }
    .extras h2{
        font-size: 6vw;
    }
    .ext-con{
        padding: 0 1vw 0 1vw;
    }
    .extra{
        width: 29vw;
        padding: 0.5vw;
        padding-top: 2vw;
        height: 70vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.3vw;
    }
    .extra h3{
        font-size: 5vw;
        text-align: center;
    }
    .extra p{
        font-size: 2vw;
        text-align: center;
    }
    .extra img{
        width: 20vw;
        height: 20vw;
    }
}
/* Conatact Styling */
.contact{
    background: #0e0e0e;
    padding: 5vw 12.8vw 5vw 12.8vw;
    user-select: none;
    margin-top: -2vw;
}
.contact h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 2vw;
    letter-spacing: 3px;
}
.contact-p{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5vw;
    color: #f5f5f5;
    text-align: center;
    margin-top: -1vw;
}
.contact-container{
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    padding: 5vw;
    border-radius: 10px;
}
input::placeholder{
    color: #0e0e0e;
    opacity: 1;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2vw;
}
.form-row div{
    width: 50%;
}
.form-row div input{
    width: 95.96%;
    height: 2vw;
    border-radius: 5px;
    padding-left: 1vw;
    font-family: 'SF-Pro', sans-serif;
    font-size: 1vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}
.form-error{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1vw;
    color: #ff0000;
    width: 100%;
    line-height: 0.1vw;
    opacity: 0;
}
#emailError{
    opacity: 0; /* This is the trick */
}
.form-group input{
    width: 98%;
    height: 2vw;
    border-radius: 5px;
    padding-left: 1vw;
    font-family: 'SF-Pro', sans-serif;
    font-size: 1vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}
.form-group textarea{
    width: 96.6%;
    height: 10vw;
    border-radius: 5px;
    padding: 1vw;
    font-family: 'SF-Pro', sans-serif;
    font-size: 1vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}
.form-group textarea::placeholder{
    color: #0e0e0e;
    opacity: 1;
}
.send-button{
    width: 99.9%;
    height: 3vw;
    border-radius: 5px;
    font-family: 'SF-Pro', sans-serif;
    font-size: 1vw;
    border: none;
    box-sizing: border-box;
    background-color: #FFD700;
    color: #0e0e0e;
    border: 1px #000 dashed;
    transition: 0.5s;
}
.send-button:hover{
    transform: scale(1.01);
    border: 1px #000 solid;
}
.send-button:active{
    transform: scale(0.99);
}
@media screen and (max-width: 640px){
    .contact{
        padding: 5vw 3vw 5vw 3vw;
    }
    .contact-p{
        font-size: 4vw;
    }
    .contact h2{
        font-size: 10vw;
    }
    .contact-container{
        padding: 8vw;
    }
    .form-row{
        flex-direction: column;
        gap: 0;
    }
    .form-row div{
        width: 100%;
    }
    .form-row div input{
        width: 95%;
        height: 10vw;
        border-radius: 4px;
        font-size: 4vw;
        padding-left: 2vw;
    }
    .form-error{
        font-size: 4vw;
    }
    .form-group input{
        width: 95%;
        height: 10vw;
        border-radius: 4px;
        padding-left: 2vw;
        font-size: 4vw;
    }
    .form-group textarea{
        width: 94.466%;
        height: 25vw;
        border-radius: 4px;
        padding: 2vw;
        font-size: 4vw;
    }
    .send-button{
        width: 99.56%;
        height: 12vw;
        border-radius: 4px;
        font-size: 4vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .contact{
        padding: 5vw 3vw 5vw 3vw;
    }
    .contact-p{
        font-size: 2.5vw;
    }
    .contact h2{
        font-size: 7vw;
    }
    .contact-container{
        padding: 5vw;
    }
    .form-row{
        flex-direction: column;
        gap: 0;
    }
    .form-row div{
        width: 100%;
    }
    .form-row div input{
        width: 98.54%;
        height: 5vw;
        border-radius: 4px;
        font-size: 2.5vw;
    }
    .form-error{
        font-size: 2.5vw;
    }
    .form-group input{
        width: 98.54%;
        height: 5vw;
        border-radius: 4px;
        font-size: 2.5vw;
    }
    .form-group textarea{
        width: 97.47%;
        height: 10vw;
        border-radius: 4px;
    }
    .form-group textarea::placeholder{
        font-size: 2.5vw;
    }
    .send-button{
        height: 6vw;
        border-radius: 4px;
        font-size: 2.5vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .contact{
        padding: 5vw 3vw 5vw 3vw;
    }
    .contact h2{
        font-size: 6vw;
    }
    .contact-p{
        font-size: 2vw;
    }
    .contact-container{
        padding: 5vw;
    }
    .form-row{
        flex-direction: column;
        gap: 0;
    }
    .form-row div{
        width: 100%;
    }
    .form-row div input{
        width: 98.54%;
        height: 3.2vw;
        border-radius: 4px;
        font-size: 2vw;
    }
    .form-error{
        font-size: 2vw;
    }
    .form-group input{
        width: 98.54%;
        height: 3.2vw;
        border-radius: 4px;
        font-size: 2vw;
    }
    .form-group textarea{
        width: 97.47%;
        height: 7vw;
        border-radius: 4px;
        font-size: 2vw;
    }
    .form-group textarea::placeholder{
        font-size: 2vw;
    }
    .send-button{
        height: 4vw;
        border-radius: 4px;
        font-size: 2vw;
    }
}
.popup{
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}
.popup-container{
    background-color: #fafafa;
    width: 25vw;
    height: 25vw;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#closePopup{
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
    transition: 0.6s;
    outline: none;
    background: none;
    border: none;
    color: #0e0e0e;
    font-size: 1.5vw;
    transition: 0.4s;
}
#closePopup:hover{
    transform: scale(1.1);
    color: #ff0000;
}
#closePopup:active{
    transform: scale(0.9);
}
.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-content img{
    width: 8vw;
    height: 8vw;
}
.popup-content p{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.25vw;
    color: #0e0e0e;
    text-align: center;
    margin-top: 1vw;
}
@media screen and (max-width: 640px){
    .popup-container{
        width: 90vw;
        height: 90vw;
    }
    #closePopup{
        font-size: 5.5vw;
    }
    .popup-content img{
        width: 30vw;
        height: 30vw;
    }
    .popup-content p{
        font-size: 5vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .popup-container{
        width: 60vw;
        height: 60vw;
    }
    #closePopup{
        font-size: 3.5vw;
    }
    .popup-content img{
        width: 20vw;
        height: 20vw;
    }
    .popup-content p{
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .popup-container{
        width: 40vw;
        height: 40vw;
    }
    #closePopup{
        font-size: 2vw;
    }
    .popup-content img{
        width: 15vw;
        height: 15vw;
    }
    .popup-content p{
        font-size: 2.5vw;
    }
} 
/* Foooter Styling */
footer{
    background-color: #2a2a2a;
    padding-top: 2vw;
}
.go-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-up div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 6vw;
    cursor: pointer;
}
.go-up svg{
    width: 2vw;
    height: 2vw;
    transition: 0.6s;
    color: #f5f5f5;
}
.go-up p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    color: #f5f5f5;
    text-align: center;
    line-height: 0.2vw;
}
.go-up div:hover svg{
    transform: translateY(-0.5vw);
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
}
.footer-logo img{
    width: 20vw;
    height: auto;
    padding-left: 0.9vw;
}
.love{
    text-align: center;
    padding-bottom: 2vw;
    user-select: none;
}
.love p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #f5f5f5;
    text-align: center;
}
.footer-langs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}
.footer-langs span{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    color: #0e0e0e;
    text-align: center;
    gap: 0.5vw;
    background-color: #fcee0a;
    border-radius: 5px;
    padding: 0.3vw;
    border: 1px #0e0e0e dashed;
}
.love div p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    color: #f5f5f5;
    text-align: center;
}
.love p:nth-child(1) i{
    color: #ff0000;
}
.cr-text{
    user-select: all;
}
@media screen and (max-width: 640px){
    footer{
        padding-top: 4.25vw;
        padding-bottom: 4.75vw;
    }
    .go-up{
        padding-bottom: 2vw;
    }
    .go-up div{
        width: 40vw;
    }
    .go-up svg{
        width: 6vw;
        height: 6vw;
    }
    .go-up p{
        font-size: 3vw;
    }
    .footer-logo img{
        width: 70vw;
        height: auto;
        margin-bottom: -2vw;
        padding-left: 3vw;
    }
    .love p{
        font-size: 4.5vw;
    }
    .footer-langs span{
        font-size: 3.5vw;
    }
    .love div p{
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    footer{
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
    }
    .go-up{
        padding-bottom: 2vw;
    }
    .go-up div{
        width: 20vw;
    }
    .go-up svg{
        width: 5vw;
        height: 5vw;
    }
    .go-up p{
        font-size: 2vw;
    }
    .footer-logo img{
        width: 60vw;
        height: auto;
        padding-left: 2.9vw;
        margin-bottom: -2.25vw;
    }
    .love p{
        font-size: 3vw;
    }
    .footer-langs span{
        font-size: 2.5vw;
    }
    .love div p{
        font-size: 2.5vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    footer{
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .go-up{
        padding-bottom: 2vw;
    }
    .go-up div{
        width: 20vw;
    }
    .go-up svg{
        width: 4vw;
        height: 4vw;
    }
    .go-up p{
        font-size: 2vw;
    }
    .footer-logo img{
        width: 35vw;
        height: auto;
        margin-bottom: -3vw;
    }
    .love p{
        font-size: 2vw;
    }
    .footer-langs span{
        font-size: 1.5vw;
    }
    .love div p{
        font-size: 1.5vw;
    }
}
/* For Buffer Page */
.buffer{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#0d0d0d, #ad780d);
    user-select: none;
}
.buff-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.buff-container > *{
    margin-top: -2vw;
}
.buff-container img{
    width: 20vw;
    height: auto;
}
.buff-container h2{
    font-family: 'Robusto', sans-serif;
    font-size: 3.75vw;
    color: #f5f5f5;
    text-align: center;
    margin-top: 1vw;
    letter-spacing: 3px;
}
.buff-container p{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5vw;
    color: #f5f5f5;
    text-align: center;
    width: 50%;
}
.buff-container p a{
    color: #fcee0a;
    text-decoration: underline;
}
.visit-link button{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: #fcee0a;
    border: #0e0e0e dashed 1px;
    color: #0e0e0e;
    overflow: hidden;
    margin-top: 2vw;
    padding: 1vw;
    transition: 0.6s;
}
.visit-link button:hover{
    transform: scale(1.05);
    border: #0e0e0e solid 1px;
}
.visit-link button:active{
    transform: scale(0.95);
}
@media screen and (max-width: 640px){
    .buff-container img{
        width: 40vw;
        height: auto;
    }
    .buff-container h2{
        font-size: 10vw;
    }
    .buff-container p{
        font-size: 4vw;
        width: 80%;
    }
    .buff-container p a{
        font-size: 4vw;
    }
    .visit-link button{
        font-size: 4vw;
        padding: 2.5vw;
        border-radius: 5px;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .buff-container img{
        width: 30vw;
        height: auto;
    }
    .buff-container h2{
        font-size: 7vw;
    }
    .buff-container p{
        font-size: 2.5vw;
        width: 70%;
    }
    .buff-container p a{
        font-size: 2.5vw;
    }
    .visit-link button{
        font-size: 2.5vw;
        padding: 1.5vw;
        border-radius: 7.5px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .buff-container img{
        width: 25vw;
        height: auto;
    }
    .buff-container h2{
        font-size: 6vw;
    }
    .buff-container p{
        font-size: 2vw;
        width: 60%;
    }
    .buff-container p a{
        font-size: 2vw;
    }
    .visit-link button{
        font-size: 2vw;
        padding: 1.2vw;
    }
}
/* CSS Ends Here */